.navstyle{
    color:rgb(30, 144, 252)!important;
    font-weight: 500!important;
} 

.navbar{
    border: 0.2vh;
    /* border-style: solid; */
    position: fixed!important;
    z-index: 1;
    width: 100%!important;
    opacity: 85%;
    filter: contrast(130%)!important;
    filter: brightness(110%)!important;
}

.items{
    transition:all 0.3s ease!important;
}
.items:hover{
    color: black!important;
    box-shadow: 3px 2px 7px black!important;
    background-color: rgb(30, 144, 252)!important;
}
.symbols{
    /* box-shadow: 2px 2px 3px black!important; */
    transition: all 0.2s ease;
    color:rgba(21, 133, 238, 0.869);
    font-size: large;
}
.symbols:hover{
    /* box-shadow: 2px 2px 3px black!important; */
    transform: scale(1.2);
    color: black;
   
    /* box-shadow: 3px 3px 3px black!important; */
}